:root.theme-light {
  --accent-color: rgb(255, 141, 203);
  --title-color: rgb(255, 194, 230);
  --h2-color: rgb(53, 52, 48);
  --decorated-title-color: rgb(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --page-background-image: url('../images/cover-image-light.png');
}

.theme-light .page {
  background-color: var(--page-background);
}

.theme-light .header__decoration {
  display: none;
}

.theme-light .header__description,
.theme-light .section__title,
.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(53, 52, 48, 0.4)
}

.theme-light .header__theme-menu-button:focus-visible {
  border-color: var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  outline-color: var(--text);
}

.theme-light .decorated-zone::before {
  border-color: var(--text-color) var(--text-color) transparent transparent;
}

.theme-light .decorated-zone::after {
  border-color: transparent transparent var(--text-color) var(--text-color);
}

.theme-light .footer__title {
  text-shadow: 2px 2px 0 rgb(255, 0, 112);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgb(255, 141, 203);
    --title-color: rgb(255, 194, 230);
    --h2-color: rgb(53, 52, 48);
    --decorated-title-color: rgb(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --page-background-image: url('../images/cover-image-light.png');
  }

  .page {
    background-color: var(--page-background);
  }
  
  .header__decoration {
    display: none;
  }
  
  .header__description,
  .section__title,
  .header__theme-menu-button {
    color: var(--text-color);
  }
  
  .header__theme-menu-button:hover {
    outline: 1px solid rgba(53, 52, 48, 0.4)
  }
  
  .header__theme-menu-button:focus-visible {
    border-color: var(--text-color);
  }
  
  .header__theme-menu-button_active {
    outline-color: var(--text);
  }
  
  .decorated-zone::before {
    border-color: var(--text-color) var(--text-color) transparent transparent;
  }
  
  .decorated-zone::after {
    border-color: transparent transparent var(--text-color) var(--text-color);
  }
  
  .footer__title {
    text-shadow: 2px 2px 0 rgb(255, 0, 112);
  }
}
