:root.theme-light {
  --theme-button-color: rgb(53, 52, 48);
  --decorated-zone-color: rgb(53, 52, 48);
  --h2-color: rgb(53, 52, 48);
  --decorated-title-color: rgb(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-hover-outline-color: 1px solid rgba(53, 52, 48, 0.4);
  --accent-color: rgb(255, 141, 203);
  --title-color: rgb(255, 194, 230);
  --page-background-color: rgb(255, 241, 247, 1);
  --page-background-image: url("../images/cover-image-light.png");
}

.theme-light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-button-color: rgb(53, 52, 48);
    --decorated-zone-color: rgb(53, 52, 48);
    --h2-color: rgb(53, 52, 48);
    --decorated-title-color: rgb(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --button-hover-outline-color: 1px solid rgba(53, 52, 48, 0.4);
    --accent-color: rgb(255, 141, 203);
    --title-color: rgb(255, 194, 230);
    --page-background-color: rgb(255, 241, 247, 1);
    --page-background-image: url("../images/cover-image-light.png");
  }

  .theme-auto .header__decoration {
      display: none;
    }

    /* .decorated-zone::after {
      border-color: transparent transparent var(--text-color) var(--text-color);
    }

    .decorated-zone::before {
      border-color: var(--text-color) var(--text-color) transparent transparent;
    }

    .header__theme-menu-button {
      color: var(--text-color);
    }

    .header__theme-menu-button:hover {
      outline-color: rgba(53, 52, 48, 0.4);
    }

    .section__title {
      color: var(--text-color);
    } */
}

